@{
    ViewBag.Title = "azureQuery sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tree-view">
</div>

@section scripts{
    
    <!-- azureQuery script -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/azure-query/azureQuery.js")"></script>
    
    <!-- jsTree script -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jstree/jquery.jstree.js")"></script>
    
    <!-- jsTree custom helper -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jstree/jstree-helper.js")"></script>
    
    <script type="text/javascript">
        $(function () {

            var treeHelper = new TreeHelper();

            var getData = function () {

                // retrieve all containers in the storage account
                aq.storage().containers().each(function (container) {

                    // retrieve all blobs inside the container
                    aq.storage().containers(container.name).blobs().each(function (blob) {
                        treeHelper.addNode(blob.containerName + "/" + blob.name);
                    });
                });

                return treeHelper.getTreeData();
            }

            $(".tree-view").jstree({
                "json_data": {
                    "data": getData()
                },
                "plugins": ["themes", "json_data", "ui"]
            });
        });
    </script>
}
